/* 
    Document   : default
    Created on : Sep 23, 2013, 12:10:22 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: #335413 !important;
}

