/* 
    Document   : default
    Created on : Sep 23, 2013, 5:07:36 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body { 
  background-color: pink !important;
}

