/* 
    Document   : default
    Created on : Sep 23, 2013, 12:09:27 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: #0088cc !important;
}

