/* 
    Document   : inner_deslap
    Created on : Sep 23, 2013, 5:32:37 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body { 
  background-color: lightseagreen !important;
}

