/* 
    Document   : default
    Created on : Sep 23, 2013, 4:42:38 PM
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-color: palegreen !important;
}

